# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv-*/
.venv/
venv/
env/
ENV/

# =========================
# Environment variables
# =========================
.env
*.env
.env.*
!.env.example

# =========================
# Databricks sensitive targets
# =========================
databricks/targets/*.yml
!databricks/targets/*.yml.example

# =========================
# Logs
# =========================
*.log
logs/
*.out
*.err

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter / Notebooks
# =========================
.ipynb_checkpoints/
*.ipynb

# (se quiser versionar notebooks, remove a linha acima)

# =========================
# Data files
# =========================
data/
*.csv
*.json
*.parquet
*.avro
*.gz
*.zip
!databricks/transformation/dbt/seeds/**/*.csv
!databricks/transformation/dbt/seeds/**/*.json

# =========================
# Temporary / cache
# =========================
.tmp/
temp/
tmp/
.cache/

# =========================
# Build / dist
# =========================
build/
dist/
*.egg-info/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Secrets / credentials
# =========================
*.pem
*.key
*.crt

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
*.tfplan
*.tfvars
*.tfvars.json
!.tfvars.example

# =========================
# MacOS Python
# =========================
.python-version

# =========================
# dbt
# =========================
databricks/transformation/dbt/profiles.yml
databricks/transformation/dbt/.user.yml
databricks/transformation/dbt/logs*
databricks/transformation/dbt/target*
databricks/transformation/dbt/dbt_packages*