LANDING_ROOT=s3://bbip-landing-prod-<account>-<region>/
METADATA_ROOT=s3://bbip-metadata-prod-<account>-<region>/autoloader
BRONZE_ROOT=s3://bbip-bronze-prod-<account>-<region>/
AUTOLOADER_PATH=/Workspace/Users/<user>@<domain>/autoloader.py
