targets:
  prod:
    workspace:
      host: https://<databricks-workspace-url>.cloud.databricks.com

    variables:
      LANDING_ROOT: s3://bbip-landing-<env>-<account>-<region>/
      AUTOLOADER_ROOT: s3://bbip-metadata-<env>-<account>-<region>/autoloader
      BRONZE_ROOT: s3://bbip-bronze-<env>-<account>-<region>/
      DBT_WAREHOUSE_ID: <databricks-sql-warehouse-id>
      DBT_CATALOG: <unity-catalog-name>
